/* common classes */
.divHeight{
	height:100%;
}

.mainTextColor {
	color: white;
}


#main{
	background-image: url("../image/header.jpg");
	background-size: cover;

}
#main .container-fluid{
	padding: 0px;
}
#main .navbar{
	border-radius: 0px;
}

#main h3 {
	font-style: italic;
	font-size: 3em;
}
#main h1 {
	font-size: 5em;
	font-weight: 700;
}
#main .btn {
	border-radius: 0;
	padding: 20px;
}
#main .content{
	padding: 50px 0;
}


#services {
}

#services .mainColor{
background-color: white;
}
#services h1 {
	text-transform: uppercase;
	font-weight: 700;
}
#services i{
	color: white;
	background-color: #FED136;
	border-radius: 100%;
	padding:30px;
}

#services h6 {
	padding: 20px 0;
	font-style: italic;

}
#services .content {
	padding: 50px 0;
}



#portfolio {
	
}
#portfolio .mainColor{
	background-color: lightgray;
}

#portfolio .content {
	padding: 50px 0;
}

#portfolio h1 {
	text-transform: uppercase;
	font-weight: 700;
}

#portfolio h6 {
	padding: 20px 0;
	font-style: italic;
}


#about{
	height: 1000px;
}
#about .mainColor{
	background-color: white;
}
#team{
	height: 800px;
}
#team .mainColor{
	background-color: #EEEEEE;
}
#contact{
	height: 500px;
}
#contact .mainColor{
	background-color: gray;
}
#about h1 {
	text-transform: uppercase;
	font-weight: 700;
}
#about h6 {
	padding: 20px 0;
	font-style: italic;
	background-color: yellow;
}
#team h1 {
	text-transform: uppercase;
	font-weight: 700;
}
#team h6 {
	padding: 20px 0;
	font-style: italic;
	
}
#team h3{
	text-transform: uppercase;
	font-weight: 400;

}
ul li a{
	display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    float: left;
}
ul li{
	    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.p{

	position: relative;
	padding-left: 15px;
	padding-right:15px;
	font-size:16px;

}
.img-circle
{
	 border:8px solid white;
}
.color1
{
	background-color: white;
}
.rowheight
{
	height: 100px;
}
.marginheight{
	padding-top: 100px;
}
.colorcontact{
	background-color: black;
	color:white;
}
.buton
{
  background-color: yellow;
  color: white;
  
}
.photo1
{
	margin-left: -400px;

	border: 10px solid white;
}
.photo2
{
	margin-right: 0px;
}